<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quan.communityhelpuserCenterManager.mapper.Correlation.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.quan.communityhelpModel.domain.RolePermission">
            <id property="roleId" column="roleId" jdbcType="BIGINT"/>
            <id property="permissionId" column="permissionId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        roleId,permissionId
    </sql>
</mapper>
