<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quan.communityhelpuserCenterManager.mapper.Correlation.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.quan.communityhelpModel.domain.UserRole">
            <id property="userId" column="userId" jdbcType="BIGINT"/>
            <id property="roleId" column="roleId" jdbcType="BIGINT"/>
    </resultMap>
    <select id="getRoleIdsByUserId" resultType="long">
        SELECT roleId
        FROM User_Role
        WHERE userId = #{userId}
    </select>
    <sql id="Base_Column_List">
        userId,roleId
    </sql>
</mapper>
